
$colour-map: (
  background: rgba(252, 237, 206, .25),
  text: #3c4151,
  pink: (fore: #f7bea3, back: #f25d4e),
  green: (fore: #91e0c4, back: #a1ca92),
  gold: (fore: #ffe1a9, back: #fed257)
);


$bg: map-get($colour-map, background);
$text: map-get($colour-map, text);