body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    color: $text;
    background: $bg;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    border-bottom: 2px solid $text;
    padding-bottom: 2px;
    color: $text;
    transition: padding-bottom .25s;
    @include active {
        padding-bottom: 6px;
    }
}

.tagline {
    font-weight: 700;
    padding: 2rem 2rem 0;
    @include breakpoint {
        min-width: 36rem;
        padding: 2rem 4rem;
    }
    &__heading {
        font-size: 1.25em;
        @include breakpoint {
            font-size: 2.5em;
        }
    }
    &__emp {
            display: block;
            font-size: 1.285em;
            margin-bottom: -.15em;
    }
    &__lower {
        display: block;
        font-size: .65em;
        margin-top: .5em;
        padding-left: .1em;
        @include breakpoint {
            font-size: .905em;
            margin-top: .25em;
            padding-left: .25em;
        }
    }
}

.summary {
    line-height: 1.6;
    padding: 0 2rem;
    @include breakpoint {
        padding: 0 1rem;
        min-width: 36rem;
        max-width: 40vw;
    }
}

.section {
    @include section;
    @include breakpoint {
        border-radius: 4px;
        padding: 1rem 3rem 2rem;
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
    border-right-style: solid;
    border-left-style: solid;
    }
        border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 1rem 1rem 2rem;
    margin: 2rem 1rem;
    border-color: transparent;
    &--pink {
        @include colour-combo(pink);
    }
    &--gold {
        @include colour-combo(gold);
    }
    &--black {
        border-color: $text;
    }
}

.nav {
    @include section;
    @include colour-combo(green);
    padding: 2rem;
    @include breakpoint {
        padding: 2rem 2rem 2rem 4.5rem;
    }
    margin: 0 0 1rem;
    border-bottom-style: solid;
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    &__link {
        margin: 0 1rem 0 0;
        @include breakpoint {
            margin: 0 1rem;
        }
        white-space: pre;
    }
}

.par {
    max-width: 35rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.column {
    @include breakpoint {
        flex-basis: 50%;
    }
}

.flow {
    @include breakpoint {

        width: 50vw;
    }
    max-width: 70ch;
    margin: 0 auto;
}