<nav><a href="">Home</a><a href="">Another page</a></nav>
<div class="tagline">Let the world hear you</div>
<div class="section--pink section">Your web presence reflect your values, find the people looking for you</div>
<div class="section--gold section">More than ever, the internet looks back at you</div>
<div class="section">
  <p>Based on <a href="https://i.pinimg.com/originals/5b/b2/5a/5bb25ab4ac18fab9edb19548c13838fb.jpg">this image</a> that's where I started looking at colours for this colour palette, sort of a modernist italian print, but not modernist, I don't knjow what you call it - there's probably a particular design school or something</p>
</div>